@charset "utf-8";

/* body */
#body{
  width: 1130px;
  height:1350px;
}

/* header */
.header{
  width: 100%;
  height: 120px;
}

.icon_parm_search{
    width: 49px;
    height: 39px;
    vertical-align: middle;
    position: relative;
    top:45px;
    left: 70px;
    opacity: 0.8;
}

.icon_text_form{
  font-size: 24px;
  position: relative;
  top:50px;
  left:70px;
  padding-left: 10px;
  vertical-align: bottom;
}

.line{
  width: 280px;
  height: 10px;
  border-bottom: solid 10px rgb(240,144,0);
  position: relative;
  top:40px;
  left:67px;
}

/* search_facility*/
.search_form_container_1{
  width: 100%;
  height: 390px;
  display: flex;
}

.search_facility{
  flex-basis: 20%;
  height:300px;
  position:relative;
  top: 58px;
  left: 57px;
}

.search_facility_text{
  font-size: 20px;
  vertical-align:super;
}

.facility_list{
  position:relative;
  flex-basis: 760px;
  top: 50px;
  left: 70px;
  flex-wrap: wrap;
}

/* search_map nav */
.search_form_container_2{
  width: 100%;
  height: 750px;
  display: flex;
}

.search_map{
  flex-basis: 20%;
  height:300px;
  position:relative;
  top: 58px;
  left: 57px;
}

.search_map_text{
  font-size: 20px;
  vertical-align:super;
}

.map_list{
  position:relative;
  flex-basis: 760px;
  top: 50px;
  left: 70px;
  flex-wrap: wrap;
}

/* footer */
.footer{
  width: 100%;
  height: 120px;
}

.button{
  width: 218px;
  height: 60px;
  position: relative;
  top: 10px;
  left: 340px;
  color: #FFFFFF;
  background-color: rgb(240,144,0);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(240,144,0, 0.8); /* マウスオーバー時の背景色を指定する */
}
